@import "define";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $basefamily;
  background-color: $bgGrayColor;
}

input {
  font-family: $basefamily;
  font-size: $fontSize;
}

.header {
  width: 100%;
  height: .88rem;
  background-color: $blueColor;
  display: flex;
  justify-content: center;
  > .top-back {
    position: absolute;
    font-family: WebSymbols-Regular;
    left: .08rem;
    height: .82rem;
    width: .6rem;
    color: $whiteColor;
    font-size: $icoFontSize;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: .06rem;
  }
  > .top-title {
    font-size: $titleFontSize;
    color: $whiteColor;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .top-right {
    position: absolute;
    right: .08rem;
    display: flex;
    width: auto;
    height: auto;
    > .ico-menu {
      font-family: WebSymbols-Regular;
      font-size: $icoFontSize;
      color: $whiteColor;
      height: .78rem;
      width: .6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: .1rem;
      cursor: pointer;
    }
    > .ico-lock {
      @extend .ico-menu;
      height: .88rem;
      padding-bottom: 0;
      font-size: .5rem;
    }
  }
}

.popup-menu {
  width: 2rem;
  height: auto;
  z-index: 1000;
  position: absolute;
  > .menu-arrow {
    color: $blackColor;
    height: .25rem;
    overflow: hidden;
    text-align: right;
    margin-right: .1rem;
    font-size: $fontSize;
  }
  > .meun-content {
    background-color: $blackTColor;
    > ul {
      margin: 0;
      padding: .1rem;
      list-style: none;
      color: $whiteColor;
      > li {
        height: .5rem;
        line-height: .5rem;
        cursor: pointer;
        > div {
          margin-left: auto;
          margin-right: auto;
          width: 1rem;
          text-align: justify;
          text-justify: distribute-all-lines;
          text-align-last: justify;
          font-size: $fontSize;
        }
      }
      > li:not(:last-child) {
        border-bottom: .01rem solid $grayColor;
      }
    }
  }
}

.content {
  padding-top: .12rem;
  > .text-input {
    margin-top: .02rem;
    margin-bottom: .02rem;
    height: .6rem;
    line-height: .6rem;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    > div {
      width: 1rem;
      text-align: justify;
      text-justify: distribute-all-lines;
      text-align-last: justify;
      font-weight: bold;
      float: left;
      margin-left: .2rem;
      margin-right: .4rem;
      color: $blackColor;
      font-size: $fontSize;
    }
    > input {
      height: .4rem;
      flex: 1;
      margin-right: .2rem;
      border: none;
    }
  }
  > .operate {
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.green-btn {
  width: 2rem;
  height: .6rem;
  background-color: $greenColor;
  color: $whiteColor;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.orange-red-btn{
  @extend .green-btn;
  background-color: $orangeRedColor;
}


.message-box {
  margin-left: .2rem;
  margin-right: .2rem;
  background-color: $whiteColor;
  color: $orangeRedColor;
  padding: .2rem;
  font-weight: bold;
  font-size: $fontSize;
}