@import "define";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $basefamily;
  font-size: $fontSize;
  background-color: $bgGrayColor;
}

input {
  font-family: $basefamily;
  font-size: $fontSize;
}

.header {
  width: 100%;
  height: 88px;
  background-color: $blueColor;
  display: flex;
  justify-content: center;
  > .top-back {
    position: fixed;
    font-family: WebSymbols-Regular;
    left: 8px;
    height: 82px;
    width: 60px;
    color: $whiteColor;
    font-size: $icoFontSize;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
  }
  > .top-title {
    font-size: $titleFontSize;
    color: $whiteColor;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .top-right {
    position: fixed;
    right: 8px;
    display: flex;
    width: auto;
    height: auto;
    > .ico-menu {
      font-family: WebSymbols-Regular;
      font-size: $icoFontSize;
      color: $whiteColor;
      height: 78px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      cursor: pointer;
    }
    > .ico-lock {
      @extend .ico-menu;
      height: 88px;
      padding-bottom: 0px;
      font-size: 50px;
    }
  }
}

.popup-menu {
  width: 200px;
  height: auto;
  z-index: 1000;
  position: fixed;
  > .menu-arrow {
    color: $blackColor;
    height: 25px;
    overflow: hidden;
    text-align: right;
    margin-right: 10px;
  }
  > .meun-content {
    background-color: $blackTColor;
    > ul {
      margin: 0;
      padding: 10px;
      list-style: none;
      color: $whiteColor;
      > li {
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        > div {
          margin-left: auto;
          margin-right: auto;
          width: 100px;
          text-align: justify;
          text-justify: distribute-all-lines;
          text-align-last: justify;
        }
      }
      > li:not(:last-child) {
        border-bottom: 1px solid $grayColor;
      }
    }
  }
}

.content {
  padding-top: 12px;
  > .text-input {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;
    line-height: 60px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    > div {
      width: 100px;
      text-align: justify;
      text-justify: distribute-all-lines;
      text-align-last: justify;
      font-weight: bold;
      float: left;
      margin-left: 20px;
      margin-right: 40px;
      color: $blackColor;
    }
    > input {
      height: 40px;
      flex: 1;
      margin-right: 20px;
      border: none;
    }
  }
  > .operate {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    > input {
      width: 200px;
      height: 60px;
      background-color: $greenColor;
      color: $whiteColor;
      border: none;
      font-weight: bold;
    }
  }
}

.message-box {
  margin-left: 20px;
  margin-right: 20px;
  background-color: $whiteColor;
  color: $orangeRedColor;
  padding: 20px;
  font-weight: bold;
}