// Core asset
.bts {
  background-image: url("../imgs/symbols/bts.png");
}
// BitAssets
.usd {
  background-image: url("../imgs/symbols/usd.png");
}
.eur {
  background-image: url("../imgs/symbols/eur.png");
}
.cny {
  background-image: url("../imgs/symbols/cny.png");
}
.gold {
  background-image: url("../imgs/symbols/gold.png");
}
.btc {
  background-image: url("../imgs/symbols/btc.png");
}
.silver {
  background-image: url("../imgs/symbols/bts.png");
}
// 3rd party assets
.eth {
  background-image: url("../imgs/symbols/eth.png");
}
.steem {
  background-image: url("../imgs/symbols/steem.png");
}
.mkr {
  background-image: url("../imgs/symbols/mkr.png");
}
.dgd {
  background-image: url("../imgs/symbols/dgd.png");
}
.obits {
  background-image: url("../imgs/symbols/obits.png");
}
.btsr {
  background-image: url("../imgs/symbols/btsr.png");
}
.dao {
  background-image: url("../imgs/symbols/dao.png");
}
.lisk {
  background-image: url("../imgs/symbols/lisk.png");
}
.peerplays {
  background-image: url("../imgs/symbols/peerplays.png");
}
.icoo {
  background-image: url("../imgs/symbols/icoo.png");
}
.blockpay {
  background-image: url("../imgs/symbols/blockpay.png");
}
.dash {
  background-image: url("../imgs/symbols/dash.png");
}
.eurt {
  background-image: url("../imgs/symbols/eurt.png");
}
.game {
  background-image: url("../imgs/symbols/game.png");
}
.grc {
  background-image: url("../imgs/symbols/grc.png");
}
.usdt {
  background-image: url("../imgs/symbols/usdt.png");
}
.bkt {
  background-image: url("../imgs/symbols/bkt.png");
}
.dct {
  background-image: url("../imgs/symbols/dct.png");
}
.incnt {
  background-image: url("../imgs/symbols/incnt.png");
}
.nxc {
  background-image: url("../imgs/symbols/nxc.png");
}
.btwty {
  background-image: url("../imgs/symbols/btwty.png");
}
.open-btc {
  background-image: url("../imgs/symbols/open.btc.png");
}
.hempsweet {
  background-image: url("../imgs/symbols/hempsweet.png");
}